@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 3 5% 97%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 339, 90%, 62%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0, 84.2%, 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 339, 90%, 62%;
		--radius: 0.5rem;
		--button-text: 0 0% 100%;
		--hover: 339, 90%, 58%;
		--home: 339, 80%, 65%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 15 9% 6%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 339, 80%, 65%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 350, 60%, 65%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 339, 80%, 65%;
		--button-text: 0 0% 100%;
		--hover: 339, 80%, 62%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.link {
	position: relative;
	text-decoration: none;
}

.link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 2px;
	width: 100%;
	background: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s;
}

.link:hover::after,
.link-static::after {
	transform: scaleX(1);
}

.link-static {
	position: relative;
}

.link-static::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 2px;
	width: 100%;
	background: currentColor;
}

.my-masonry-grid {
	display: flex;
	margin-left: -30px; /* adjust this value to change the space between items */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 30px; /* adjust this value to change the space between items */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	margin-bottom: 30px;
}
